<div style="background-color: black;" fxHide.lt-md>
  <mat-toolbar fxLayout>
    <div style="padding: 5px;" fxLayout>
      <section style="width: 518px;">
        <div>
          <img
            src="\assets\Images\logo\logo1.jpg"
            style="width: 480px; height: 150px;"
          />
        </div>
        <div>
          <p style="font-size: 25px;">
            <b>The Smile Store</b>
          </p>
          <div style="font-size: 15px;">
            Being a multi-speciality dental clinic, our mavens span across
            different<br />
            areas of dentistry right from endodontists to implant experts,
            paediatric<br />
            dentistry (pedodontist), orthodontists, orofacial pain specialists,
            as<br />
            well as smile designers and dental surgeons. Whether it is a smile
            <br />
            correction treatment or root canal treatment, tooth whitening, and
            much<br />
            more, we provide you with the right action for all your dental
            problems.<br />
          </div>
        </div><hr>
        <div>
          <p style="font-size: 20px; text-align: center;">
            <b>Connect With Us :</b>
          </p>
          <div fxLayoutAlign="center" fxLayoutGap="40px">
            <a href="https://www.facebook.com/568373913567941/">
              <img class="circle" src="\assets\Images\footer\facebook.png"
            /></a>
            <a href="mailto:thesmilestore08@gmail.com">
              <img class="circle" src="\assets\Images\footer\gmail.png"
            /></a>

            <a href="https://instagram.com/the_smile_store?igshid=88k0x5vpewk7">
              <img class="circle" src="\assets\Images\footer\insta.png"
            /></a>
            <a href="whatsapp://send?text=Hey! Welcome to the smile store&phone=+919826049045">
              <img class="circle" src="\assets\Images\footer\whatsapp.png"
            /></a>
          </div>
        </div>
      </section>

      <hr style="color: wheat;" />
      <section style="padding: 20px; width: 400px;">
        <div>
          <p style="font-size: 23px;">
            <b>Address :</b>
          </p>
          <div style="font-size: 15px;">
            Unit no:102, first floor , Sunder Sadan , Northern part of<br />
            plot no.3,sector-2, Annapurna Main Road, Vaishali Nagar,<br />
            Indore, Madhya Pradesh 452009<br />
            <br />
          </div>
        </div>
        <div>
          <p style="font-size: 23px;">
            <b>Contact Number :</b>
          </p>
          <div style="font-size: 15px;">
           Clinic : <a href="tel:0731 4999655">0731 4999655<br></a>
          Dr Sachin Thakur : <a href="tel:+919826049045"> 9826049045<br /></a>
            Dr Trapti Sharma Thakur : <a href="tel:+917898966088"> 7898966088</a>
            <br /><br />
          </div>
        </div>
        <div>
          <p style="font-size: 20px;">
            <b>Email ID:</b>
            <a href="mailto:thesmilestore08@gmail.com">
              thesmilestore08@gmail.com
            </a>
          </p>
        </div>
      </section>

      <hr style="color: wheat;" />
      <section style="padding: 10px;">
        <p style="font-size: 23px;">
          <b>Links</b>
        </p>
        <section style="font-size: 15px;">
          <ul>
            <a href="/Home"> <li>Home</li></a>
            <a href="/aboutus"> <li>About Us</li></a>
            <a href="/TreatmentPage"> <li>Treatment</li></a>
            <a href="/contactus"><li>Contact Us</li></a>
          </ul>
        </section>
        <section>
          <p style="font-size: 23px;">
            <b>About the developer</b>
          </p>

          <p style="font-size: 15px;">
            With Innovation , Hardwork and Technologies we<br />
            build an unmatched Digital Web Interactions for<br />
            startups as well as established businesses.<br />
            <a href="/aboutdeveloper">
            <button
              mat-raised-button
              color="primary"

            >
              know us
            </button></a>
          </p>
        </section>
      </section>
    </div>
  </mat-toolbar>
  <hr style="color: wheat;" />
  <mat-toolbar fxLayoutAlign="center">
    <section>
      <div style="font-size: 20px; text-align: center;">
        @ Developed and maintained by the ACk & Team
        <br />
      </div>
    </section>
  </mat-toolbar>
</div>

<div fxHide.gt-md>
  <div style="background-color: black;" fxLayoutAlign="center">
    <mat-toolbar>
      <div>
        <section style="width: 100%;">
          <div>
            <img src="\assets\Images\about\logo.jpg" style="width: 100%;" />
          </div>
          <div>
            <p style="font-size: 25px; text-align: center;">
              <b>The Smile Store</b>
            </p>
            <p style="font-size: 14px; text-align: justify;">
              Being a multi-speciality dental clinic, our mavens <br />
              span across different areas of dentistry right from<br />
              endodontists to implant experts, paediatric <br />
              dentistry (pedodontist), orthodontists, orofacial<br />
              pain specialists,as well as smile designers and <br />
              dental surgeons. Whether it is a smile correction <br />
              treatment or rootcanal treatment, tooth<br />
              whitening and much more, we provide you with <br />
              the right action for all your<br />
              dental problems.
            </p>
          </div><hr>
          <div>
            <p style="text-align: center;">
              <b>Connect With Us :</b>
            </p>
            <div fxLayoutGap="20px" fxLayoutAlign="center">
              <a href="https://www.facebook.com/568373913567941/">
                <img class="circle" src="\assets\Images\footer\facebook.png"
              /></a>
              <a href="mailto:thesmilestore08@gmail.com">
                <img class="circle" src="\assets\Images\footer\gmail.png"
              /></a>

              <a
                href="https://instagram.com/the_smile_store?igshid=88k0x5vpewk7"
              >
                <img class="circle" src="\assets\Images\footer\insta.png"
              /></a>
              <a href="whatsapp://send?text=Hey! Welcome to the smile store!&phone=+919826049045">
                <img class="circle" src="\assets\Images\footer\whatsapp.png"
              /></a>
            </div>
          </div>
        </section>

        <hr style="color: wheat;" />
        <section style="width: 100%;">
          <div>
            <p style="font-size: 23px;">
              <b>Address :</b>
            </p>
            <div style="font-size: 15px;">
              Unit no:102, first floor , Sunder Sadan ,<br />
              Northern part of plot no.3,sector-2,<br />
              Annapurna Main Road, Vaishali Nagar,<br />
              Indore, Madhya Pradesh 452009<br />
              <br />
            </div>
          </div>
          <div>
            <p style="font-size: 23px;">
              <b>Contact Number :</b>
            </p>
            <div style="font-size: 15px;">
               Clinic : <a href="tel:0731 4999655">0731 4999655<br></a>
               Dr Sachin Thakur : <a href="tel:+919826049045"> 9826049045<br /></a>
              Dr Trapti Sharma Thakur : <a href="tel:+917898966088"> 7898966088</a>
              <br /><br />
            </div>
          </div>
          <div>
            <p style="font-size: 20px;">
              <b>Email ID:</b><br />
              <a href="mailto:thesmilestore08@gmail.com">
                thesmilestore08@gmail.com
              </a>
            </p>
          </div>
        </section>

        <hr style="color: wheat;" />
        <section>
          <p style="font-size: 23px;">
            <b>Links</b>
          </p>
          <section style="font-size: 15px;">
            <ul>
              <a href="/Home"> <li>Home</li></a>
              <a href="/aboutus"> <li>About Us</li></a>
              <a href="/TreatmentPage"> <li>Treatment</li></a>
              <a href="/contactus"><li>Contact Us</li></a>
            </ul>
          </section>
          <section>
            <p style="font-size: 23px;">
              <b>About the developer</b>
            </p>

            <p style="font-size: 15px;">
              With Innovation , Hardwork and Technologies<br />
              we build an unmatched Digital Web Interactions <br />
              for startups as well as established businesses.<br />
              <a href="/aboutdeveloper">
            <button
              mat-raised-button
              color="primary"

            >
              know us
            </button></a>
            </p>
          </section>
        </section>
        <hr style="color: wheat;" />
        <section>
          <div style="font-size: 15px; text-align: center;">
            @ Developed and maintained by the<br />
            ACk & Team
            <br />
          </div>
        </section>
      </div>
    </mat-toolbar>
  </div>
</div>
