<div style="background-color: black;" fxHide.lt-md>
  <mat-toolbar fxLayout fxLayoutAlign="center">
    <div style="padding: 5px;" fxLayout fxLayoutGap="50px">
      <section style="width: 518px;" fxLayoutAlign="center center">
        <div>
          <p style="font-size: 25px;">
            <b>Dot Three Design Studio </b>
          </p>
          <div style="font-size: 15px;">
            ________________________________________________<br />
            __________________________________________________<br />
            __________________________________________________<br />
          </div>
        </div>
      </section>

      <hr style="color: wheat;" />
      <section style="padding: 10px;">
        <p style="font-size: 23px;">
          <b>Links</b>
        </p>
        <section style="font-size: 15px; text-align: center;">
          Home<br />
          About Us<br />
          Our Service<br />
          Our Project<br />
          Contact Us<br />
        </section>
      </section>

      <hr style="color: wheat;" />
      <section>
        <div>
          <p style="font-size: 20px; text-align: center;">
            <b>Connect With Us :</b><br />
          </p>
          <p style="font-size: 15px; text-align: center;">
            <b>Email: dotthreedesignstudio@gmail.com </b><br>
            <b>Address: __________________________</b><br />
            <b>Tel:<a href="tel:+91 7509933333"> +91-7509933333 </a><br>
              <a href="tel:+91-9806050877"> +91-9806050877 </a></b><br />
          </p>
          <div fxLayoutAlign="center" fxLayoutGap="40px">
            <a href="">
              <img class="circle" src="\assets\Images\Footer\facebook.png" />
            </a>
            <a href="mailto:thesmilestore08@gmail.com">
              <img class="circle" src="\assets\Images\Footer\gmail.png" />
            </a>
            <a href="https://instagram.com/dotthreedesignstudio?igshid=1cktfzqkfbu7s"><img class="circle"
                src="\assets\Images\Footer\instagram.png" /> </a>
          </div>
        </div>
      </section>
    </div>
  </mat-toolbar>
  <hr style="color: wheat;" />
  <mat-toolbar fxLayoutAlign="center">
    <section>
      <div style="font-size: 20px; text-align: center;">
        @ Developed and maintained by ACK & Team
        <br />
      </div>
    </section>
  </mat-toolbar>
</div>

<div fxHide.gt-sm>
  <div style="background-color: black;" fxLayoutAlign="center">
    <mat-toolbar fxLayoutAlign="center">
      <div>
        <section style="width: 100%;" fxLayoutAlign="center center">
          <div></div>
          <div>
            <p style="font-size: 25px; text-align: center;">
              <b>Dot Three Design Studio</b>
            </p>
            <p style="font-size: 14px; text-align: justify;">
              _____________________________________<br />
              _____________________________________<br />
              _____________________________________<br />
              _____________________________________<br />
            </p>
          </div>
        </section>

        <hr style="color: wheat;" />
        <section>
          <p style="font-size: 23px; text-align: center;">
            <b>Links</b>
          </p>
          <section style="font-size: 15px; text-align: center;">
            Home<br />
            About Us<br />
            Our Service<br />
            Our Project<br />
            Contact Us<br />
          </section>

          <hr style="color: wheat;" />
          <section>
            <div>
              <p style="text-align: center;">
                <b>Connect With Us :</b>
              </p>
              <p style="font-size: 15px; text-align: center;">
                <b>Email: dotthreedesignstudio@gmail.com </b><br>
                <b>Address: __________________________</b><br />
                <b>Tel:<a href="tel:+91 7509933333"> +91-7509933333 </a><br>
                  <a href="tel:+91-9806050877"> +91-9806050877 </a></b><br />
              </p>
              <div fxLayoutGap="20px" fxLayoutAlign="center">
                <a href="">
                  <img class="circle" src="\assets\Images\Footer\facebook.png" />
                </a>
                <a href="mailto:thesmilestore08@gmail.com">
                  <img class="circle" src="\assets\Images\Footer\gmail.png" />
                </a>
                <a href="https://instagram.com/dotthreedesignstudio?igshid=1cktfzqkfbu7s"><img class="circle"
                    src="\assets\Images\Footer\instagram.png" /> </a>
              </div>
            </div>
          </section>
        </section>
        <hr style="color: wheat;" />
        <section>
          <div style="font-size: 15px; text-align: center;">
            @ Developed and maintained by the ACK & Team<br />

            <br />
          </div>
        </section>
      </div>
    </mat-toolbar>
  </div>
</div>
