<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading"> Dining Set</h1><br>

  <section fxLayoutAlign="center" fxLayoutGap="7%">
    <img src="assets/Images/furniture module/dining set/ds1.jpg" style="width: 50%;">
  </section>

  <section>
    <app-enquirybutton></app-enquirybutton>
  </section>
</div>


  <!-- Mobile View -->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <h1 class="mobheading">Dining Set </h1>
  <section fxLayoutAlign="center">
    <img src="assets/Images/furniture module/dining set/ds1.jpg" style="height: 120%; width: 95%;">
  </section>

  <section>
     <app-enquirybutton></app-enquirybutton>
  </section>
</div>
