<div fxHide.lt-md>
  <div class="container">
    <img class="homeimg" src="\assets\Images\home\main.jpg" />
    <div class="center">
      <br />
      <p>DOT. THREE</p>
      <p style="font-size: 30px;">Design Studio</p>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="center" fxLayoutGap="30px" style="padding: 100px; background-color: whitesmoke;">
    <div>
      <img style="width: 500px;" src="\assets\Images\furniture module\single unit\su1.jpg" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
      <section style="
          text-align: center;
          font-size: 50px;
          font-weight: bolder;
          font-family: 'Times New Roman', Times, serif;
        ">
        Our Philosophy
      </section>
      <br />
      <section style="
          text-align: center;
          font-size: 20px;
          font-family: Georgia, 'Times New Roman', Times, serif
        ">

        Dot Three Design Studio is guided by the philosophy of The Three Dots of Life: Mind, Body and Spirit that are
        interconnected to each other. These Three dots continually inform and redefine each other. Similarly, we believe
        that architecture is a tangible as well as phenomenological impulse that drives this interaction to encourage a
        higher sense of consciousness. <br> <br>

        <b>Our Goal</b> <br> <br>
        We as an avant-garde boutique firm aim to create enduring meaningful spaces which induce harmony, bliss and
        peace in the life of our customers. Our designs focus on implementing clean lines, minute details along with
        optimal use of natural light, ventilation and locally available natural building materials. More than just
        architecture, we endeavour to create a lifestyle for the occupants. <br> <br>

        <b>Our Methodology</b> <br> <br>
        As a collective studio we acquire architectural solutions through research followed by analysis & exploration of
        visual, spatial, formal, social and technological ideas. We are a customer oriented firm, meaning our spaces are
        primarily designed with exquisite minute details to cater the needs and contexts of our customers. Our designs
        imbibe a synergy of the traditional as well as modern elements to provide a stimulating experience of a space
        that is more permanent in our memory and includes our body as an integral part of the site. <br>
      </section>
      <section>
        <a href="/aboutus"><button mat-raised-button color="primary">Know More</button></a>
      </section>
    </div>
  </div>
  <div class="bg1"></div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="background-color: rgb(232, 248, 246);">
    <div>
      <section style="
          text-align: center;
          font-size: 40px;
          font-weight: bold;
          font-family: 'Times New Roman', Times, serif;
        ">
        <br />
        Glimpse of our work
      </section>
    </div>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="30px">
      <section>
        <img class="card" src="\assets\Images\interior\bar\bar1.jpg" />
      </section>
      <section>
        <img class="card" src="\assets\Images\architectural\apartment\Ap1.jpg" />
      </section>
      <section>
        <img class="card" src="\assets\Images\interior\showroom\sh101.jpg" />
      </section>
    </div>
    <div>
      <section>
       <a href="/our-projects"><button mat-raised-button color="primary" >Know More</button></a>
      </section>
      <br />
    </div>
  </div>
  <div class="bg2"></div>
  <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
    <div style="
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
      ">
      <br />
      Meet Our Team
    </div>
    <div fxLayout fxLayoutGap="50px" fxLayoutAlign="center center">
      <section>
        <mat-card><img class="person" src="/assets/Images/home/manan.jpg" /><br />
          <mat-card-content style="text-align: center;"><br />
            <p>Manan Kishnani</p>
          </mat-card-content>
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:manankishnani@gmail.com"><img class="circle"
                  src="\assets\Images\home\icon\gmail.png" /></a>
            </section>
            <section>
              <a href="whatsapp://send?text=Hey! Welcome to Dot three Design studio&phone=+917509933333"><img
                  class="circle" src="\assets\Images\home\icon\call.jpg" /></a>
            </section>
            <section>
              <a href="https://instagram.com/manan_kishnani?igshid=1l79ta8zktofk"><img class="circle"
                  src="\assets\Images\home\icon\instagram.png" /></a>
            </section>
          </div>
        </mat-card>
      </section>
      <section>
        <mat-card><img class="person" src="/assets/Images/home/ayush.jpg" />
          <mat-card-content style="text-align: center;"><br />
            <p>Ayush Jain</p>
          </mat-card-content>
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:jainayush060@gmail.com"><img class="circle"
                  src="\assets\Images\home\icon\gmail.png" /></a>
            </section>
            <section>
              <a href="whatsapp://send?text=Hey! Welcome to Dot three Design studio&phone=+919806050877"><img
                  class="circle" src="\assets\Images\home\icon\call.jpg" /></a>
            </section>
            <section>
              <a href="https://instagram.com/ayushjain20?igshid=1bqua3bbpnnch"><img class="circle"
                  src="\assets\Images\home\icon\instagram.png" /></a>
            </section>
          </div>
        </mat-card>
      </section>
    </div>
  </div>
  <br /><br />

  <div class="bg3"></div>
  <br /><br />
  <br /><br />
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
    <div style="
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
      ">
      Key Features
    </div>
    <br /><br />
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="150px">
      <div>
        <section>
          <img class="icon" src="\assets\Images\home\icon\quality.png" /><br />
          <p style="font-size: 20px; text-align: center; font-weight: bold;">
            Best Quality
          </p>
        </section>
        <br /><br />
        <section>
          <img class="icon" src="\assets\Images\home\icon\emotions.jpg" /><br />
          <p style="font-size: 20px; text-align: center; font-weight: bold;">
            Spiritually Resonant
          </p>
        </section>
      </div>
      <div>
        <section>
          <img class="icon" src="\assets\Images\home\icon\design.jpg" /><br />
          <p style="font-size: 20px; text-align: center; font-weight: bold;">
            Excellent design
          </p>
        </section>
        <br /><br />
        <section>
          <img class="icon" src="\assets\Images\home\icon\affordable.png" /><br />
          <p style="font-size: 20px; text-align: center; font-weight: bold;">
            Affordable
          </p>
        </section>
      </div>
      <div>
        <section>
          <img class="icon" src="\assets\Images\home\icon\unique.jpg" /><br />
          <p style="font-size: 20px; text-align: center; font-weight: bold;">
            Unique Design
          </p>
        </section>
        <br /><br />
        <section>
          <img class="icon" src="\assets\Images\home\icon\long.png" /><br />
          <p style="font-size: 20px; text-align: center; font-weight: bold;">
            Long Lasting
          </p>
          <br /><br />
        </section>
      </div>
    </div>
  </div>
</div>

<div fxHide.gt-md>
  <div class="mobcontainer">
    <img class="mobimg" src="\assets\Images\home\main.jpg" />
    <div class="mobcenter">
      <br />
      <p style="font-size: 20px;">DOT. THREE</p>
      <p style="font-size: 15px;">Design Studio</p>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px" style="background-color: whitesmoke;">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
      <div fxLayoutAlign="center">
        <img style="width: 350px; height: 450px;" src="\assets\Images\furniture module\single unit\su1.jpg" />
      </div>
      <br />
      <section style="
          text-align: center;
          font-size: 50px;
          font-weight: bolder;
          font-family: 'CaviarDreams';
        ">
        <br /><BR />
        Our Philosophy
      </section>
      <section style="
          text-align: justify;
          font-size: 20px;
          font-family: 'Times New Roman', Times, serif;
          padding: 20px;
        ">
        We work as a collective studio, acquiring architectural solutions
        through study, analysis and exploration of visual, spatial, formal,
        social an technological ideas. As an extension of our mind , the spirit
        is also connected to the mind and body. All three constantly inform and
        redefine each other. Architecture is a physical and phenomenological
        entity and can participate in that interaction, encouraging a sense of
        spirituality or a higher level of consciousness.<br />
        Our goal lies in creating " enduring meaningful spaces " which induce
        harmony, happiness & peace in the lives of the users. We endeavour to
        create more than just architecture, a lifestyle for the occupants.
        Simple intelligent ideas such as optimum use of natural light,
        ventilation & locally available natural building materials and
        techniques have been our continuous effort.<br />
        We believe in creating architecture, which primarily responds to its
        users and context more than defining a signature style for us. We also
        believe that the beauty lies in detailing and it is our constant effort
        to work till the minute details, understanding the needs of the user.<br />
        Our designs imbibe a synergy of the traditional and the modern elements.
        Our designs are international and contemporary yet deeply rooted to the
        place and its context.<br />
        Sensual experience of a space gives the space a more permanent presence
        in our memory and includes our bodies as an integral part of the site
        .<br />
        Sensual linkages between the natural environment, built environment, and
        our own bodies creates a more complete understanding of the order of our
        world and the interactions within it, which in turn helps us to know
        ourselves.
      </section>
      <section>
       <a href="/aboutus"> <button mat-raised-button color="primary">Know More</button> </a>
      </section>
    </div>
    <br>
  </div>
  <div class="mobg1"></div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="background-color: rgb(232, 248, 246);">
    <br /><br />
    <div>
      <section style="
          text-align: center;
          font-size: 40px;
          font-weight: bold;
          font-family: 'Times New Roman', Times, serif;
        ">
        Glimpse of our work
      </section>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
      <section>
        <img class="mobcard" src="\assets\Images\interior\bar\bar1.jpg" />
      </section>
      <section>
        <img class="mobcard" src="\assets\Images\architectural\apartment\Ap1.jpg" />
      </section>
      <section>
        <img class="mobcard" src="\assets\Images\interior\showroom\sh101.jpg" />
      </section>
    </div>
    <div>
      <section>
        <a href="/our-projects"><button mat-raised-button color="primary" >Know More</button></a>
      </section>
      <br />
    </div>
  </div>
  <div class="mobg2"></div>
  <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
    <div style="
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
      ">
      <br />
      Meet Our Team
    </div>
    <div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="center center">
      <section>
        <mat-card><img class="person" src="/assets/Images/home/manan.jpg" /><br />
          <mat-card-content style="text-align: center;"><br />
            <p>Manan Kishnani</p>
          </mat-card-content>
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:manankishnani@gmail.com"><img class="circle"
                  src="\assets\Images\home\icon\gmail.png" /></a>
            </section>
            <section>
              <a href="whatsapp://send?text=Hey! Welcome to Dot three Design studio&phone=+917509933333"><img
                  class="circle" src="\assets\Images\home\icon\call.jpg" /></a>
            </section>
            <section>
              <a href="https://instagram.com/manan_kishnani?igshid=1l79ta8zktofk"><img class="circle"
                  src="\assets\Images\home\icon\instagram.png" /></a>
            </section>
          </div>
        </mat-card>
      </section>
      <section>
        <mat-card><img class="person" src="/assets/Images/home/ayush.jpg" />
          <mat-card-content style="text-align: center;"><br />
            <p>Ayush Jain</p>
          </mat-card-content>
          <div fxLayout fxLayoutAlign="center center" fxLayoutGap="50px">
            <section>
              <a href="mailto:jainayush060@gmail.com"><img class="circle"
                  src="\assets\Images\home\icon\gmail.png" /></a>
            </section>
            <section>
              <a href="whatsapp://send?text=Hey! Welcome to Dot three Design studio&phone=+919806050877"><img
                  class="circle" src="\assets\Images\home\icon\call.jpg" /></a>
            </section>
            <section>
              <a href="https://instagram.com/ayushjain20?igshid=1bqua3bbpnnch"><img class="circle"
                  src="\assets\Images\home\icon\instagram.png" /></a>
            </section>
          </div>
        </mat-card>
      </section>
    </div>
  </div>
  <br />

  <div class="mobg3"></div>

  <div style="padding: 20px;" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px ">
    <div style="
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
      ">
      <br />
      Key Features
    </div>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="30px">
      <div>
        <section>
          <img class="mobicon" src="\assets\Images\home\icon\quality.png" />
          <p style="font-size: 15px; text-align: center; font-weight: bold;">
            Best Quality
          </p>
        </section>
        <br /><br />
        <section>
          <img class="mobicon" src="\assets\Images\home\icon\emotions.jpg" /><br />
          <p style="font-size: 15px; text-align: center; font-weight: bold;">
            Spiritually Resonant
          </p>
        </section>
      </div>
      <div>
        <section>
          <img class="mobicon" src="\assets\Images\home\icon\design.jpg" />
          <p style="font-size: 15px; text-align: center; font-weight: bold;">
            Excellent design
          </p>
        </section>
        <br /><br />
        <section>
          <img class="mobicon" src="\assets\Images\home\icon\affordable.png" />
          <p style="font-size: 15px; text-align: center; font-weight: bold;">
            Affordable
          </p>
        </section>
      </div>
      <div>
        <br /><br />
        <section>
          <img class="mobicon" src="\assets\Images\home\icon\unique.jpg" />
          <p style="font-size: 15px; text-align: center; font-weight: bold;">
            Unique Design
          </p>
        </section>
        <br /><br />
        <section>
          <img class="mobicon" src="\assets\Images\home\icon\long.png" />
          <p style="font-size: 15px; text-align: center; font-weight: bold;">
            Long Lasting
          </p>
          <br /><br />
        </section>
      </div>
    </div>
  </div>
</div>
