<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading"> Drawing Room Desk</h1><br>

  <section fxLayoutAlign="center" fxLayoutGap="7%">
    <img src="assets/Images/interior/desk/d1.jpg" style="width: 50%;">
  </section>

  <section>
    <app-enquirybutton></app-enquirybutton>
  </section>
</div>


  <!-- Mobile View -->
<div fxHide.gt-md fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <h1 class="mobheading">Drawing Room Desk</h1>
  <section fxLayoutAlign="center">
    <img src="assets/Images//interior/desk/d1.jpg" style="height: 120%; width: 95%;">
  </section>

  <section>
     <app-enquirybutton></app-enquirybutton>
  </section>
</div>
