<mat-nav-list role="list">
  <mat-list-item role="listitem"
    ><a routerLink="/home" (click)="sidenavclose()">
      <mat-icon>home</mat-icon> &nbsp;
      <span class="nav-caption">Home</span>
    </a></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a routerLink="/aboutus" (click)="sidenavclose()"
      ><mat-icon>face</mat-icon> &nbsp; <span class="nav-caption">About</span></a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a routerLink="/projects" (click)="sidenavclose()"
      ><mat-icon>construction</mat-icon> &nbsp;
      <span class="nav-caption">Our Projects</span></a
    ></mat-list-item
  >
  <mat-list-item role="listitem"
    ><a routerLink="/contactus" (click)="sidenavclose()"
      ><mat-icon>account_box</mat-icon> &nbsp;
      <span class="nav-caption">Contact Us</span></a
    ></mat-list-item
  >
</mat-nav-list>
