<div fxHide.lt-md>

  <div fxLayout fxLayoutAlign="center" fxLayoutGap="100px">

    <section>
      <img
        style="width: 500px; height: 600px;"
        src="\assets\Images\home\project.jpg"
      />
    </section>
    <section fxLayoutAlign="center center">
      <p
        style="
          text-align: center;
          font-size: 40px;
          font-family: 'Times New Roman', Times, serif;
          line-height: 50px;
        "
      >
        One of the greatest beauties<br />
        of architecture is that<br />
        each time it is like <br />life starting<br />
        all over again.
      </p>
    </section>
  </div>

  <br /><br />
  <div>
    <section>
      <app-architectural></app-architectural>
    </section>
  </div>
  <br /><br />
  <div>
    <section>
      <app-furniture-module></app-furniture-module>
    </section>
  </div>
  <br /><br />
  <div>
    <section>
      <app-interior></app-interior>
    </section>
  </div>
</div>

<div fxHide.gt-md>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <section fxLayoutAlign="center center">
      <p
        style="
          text-align: center;
          font-size: 40px;
          font-family: 'Times New Roman', Times, serif;
          line-height: 50px;
        "
      >
        One of the greatest beauties<br />
        of architecture is that<br />
        each time it is like <br />life starting<br />
        all over again.
      </p>
    </section>
    <section>
      <img
        style="width: 350px; height: 400px;"
        src="\assets\Images\home\project.jpg"
      />
    </section>
  </div>
  <!-- <br /><br />
  <div>
    <p style="text-align: center; font-size: 40px; line-height: 40px;">
      Projects<br />

    </p>
  </div> -->
  <br /><br />
  <div>
    <section>
      <app-architectural></app-architectural>
    </section>
  </div>
  <br /><br />
  <div>
    <section>
      <app-furniture-module></app-furniture-module>
    </section>
  </div>
  <br /><br />
  <div>
    <section>
      <app-interior></app-interior>
    </section>
  </div>
</div>
