<div fxHide.lt-md>

  <div fxLayout fxLayoutAlign="center" fxLayoutGap="100px">

    <section>
      <img style="width: 500px; height: 600px;" src="\assets\Images\home\project.jpg" />
    </section>
    <section fxLayoutAlign="center center">
      <p style="
          text-align: center;
          font-size: 40px;
          font-family: 'Times New Roman', Times, serif;
          line-height: 50px;
        ">
        One of the greatest beauties<br />
        of architecture is that<br />
        each time it is like <br />life starting<br />
        all over again.
      </p>
    </section>
  </div>

  <br /><br />
  <div>
    <!--Furniture module -->
    <section>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
        <h1 class="heading"><b><u> FURNITURE MODULE </u></b></h1>
        <h2 style="text-align: center;">
          We should attempt to bring nature, house and human beings together in a
          higher unity.
        </h2>
        <br />

        <div fxLayoutAlign="center center" fxLayout fxLayoutGap="20px">
          <mat-card>
            <mat-card-title>Storage Unit</mat-card-title> <br>
            <a href="/storage-unit"> <img mat-card-image src="assets/Images/furniture module/storage units/stu1.jpg"> </a>
          </mat-card>

          <mat-card>
            <mat-card-title>Sofa</mat-card-title> <br>
            <a href="/sofa"> <img mat-card-image src="assets/Images/furniture module/sofa set/sofa.jpg" style="width: 110%; ">
            </a>
          </mat-card>

          <mat-card style="width: 19%; ">
            <mat-card-title>More Projects</mat-card-title> <br>
            <a href="/furniture-module"> <img src="assets/Images/logo/plus1.png" style="width: 110%;"> </a>
          </mat-card>

        </div>
      </div>
    </section>
  </div>

  <br /><br />

  <div>
    <!-- Architectural -->
    <section>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
        <h1 class="heading"><b><u>ARCHITECTURAL</u></b></h1>
        <h2 style="text-align: center;">We shape our buildings thereafter they shape us.</h2>
        <br />

        <div fxLayoutAlign="center center" fxLayout fxLayoutGap="20px">
          <mat-card>
            <mat-card-title>Apartment</mat-card-title> <br>
            <a href="/apartment"> <img mat-card-image src="assets/Images/architectural/apartment/Ap1.jpg"> </a>
          </mat-card>
          <mat-card>
            <mat-card-title>Bungalow</mat-card-title> <br>
            <a href="/bungalow"> <img mat-card-image src="assets/Images/architectural/bungalow/B1.jpg"
                style="width: 90%; padding-left: 10%;"> </a>
          </mat-card>

          <mat-card style="width: 19%; ">
            <mat-card-title>More Projects</mat-card-title> <br>
            <a href="/architectural"> <img src="assets/Images/logo/plus1.png" style="width: 110%;"> </a>
          </mat-card>

        </div>
      </div>
    </section>
  </div>

  <br /><br />

  <div>
    <section>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
        <h1 class="heading"><b><u>INTERIOR</u></b></h1>
        <h2 style="text-align: center;">   Whatever good things we build,they end up building us.</h2>
        <br />

        <div fxLayoutAlign="center center" fxLayout fxLayoutGap="20px">
          <mat-card >
            <mat-card-title>Bar </mat-card-title> <br>
            <a href="/bar"> <img mat-card-image src="assets/Images/interior/bar/bar1.jpg"> </a>

          </mat-card>
          <mat-card >
            <mat-card-title>Drawing Room Desk</mat-card-title> <br>
            <a href="/desk"> <img mat-card-image src="assets/Images/interior/desk/d1.jpg" style="width: 110%; "></a>
          </mat-card>

          <mat-card style="width: 19%; ">
            <mat-card-title>More Projects</mat-card-title> <br>
            <a href="/interior"> <img src="assets/Images/logo/plus1.png" style="width: 90%;"> </a>
          </mat-card>

        </div>
      </div>
    </section>
  </div>
  <br>
</div>



<div fxHide.gt-md>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <section fxLayoutAlign="center center">
      <p style="
          text-align: center;
          font-size: 40px;
          font-family: 'Times New Roman', Times, serif;
          line-height: 50px;
        ">
        One of the greatest beauties<br />
        of architecture is that<br />
        each time it is like <br />life starting<br />
        all over again.
      </p>
    </section>
    <section>
      <img style="width: 350px; height: 400px;" src="\assets\Images\home\project.jpg" />
    </section>
  </div>
  <!-- <br /><br />
  <div>
    <p style="text-align: center; font-size: 40px; line-height: 40px;">
      Projects<br />

    </p>
  </div> -->
  <br /><br />
  <div>
    <section>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm>
        <h1 class="heading"><b><u> ARCHITECTURAL</u></b></h1>
        <h2 style="text-align: center;">We shape our buildings thereafter they shape us.</h2>
        <br />

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <mat-card class="cardmob">
            <mat-card-title>Apartment</mat-card-title> <br>
            <a href="/apartment"> <img mat-card-image src="assets/Images/architectural/apartment/Ap1.jpg"> </a>
          </mat-card>
          <mat-card class="cardmob">
            <mat-card-title>Bungalow</mat-card-title> <br>
            <a href="/bungalow"> <img mat-card-image src="assets/Images/architectural/bungalow/B1.jpg"> </a>
          </mat-card>

          <mat-card class="cardmob">
            <mat-card-title>More Projects</mat-card-title> <br>
            <a href="/architectural"> <img src="assets/Images/logo/plus1.png"> </a>
          </mat-card>

        </div>
      </div>
    </section>
  </div>

  <br /><br />

  <div>
    <section>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm>
        <h1 class="heading"><b><u> FURNITURE MODULE </u></b></h1>
        <h2 style="text-align: center;">
          We should attempt to bring nature, house and human beings together in a
          higher unity.
        </h2>
        <br />

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <mat-card class="cardmob">
            <mat-card-title>Storage Unit</mat-card-title> <br>
            <a href="/storage-unit"> <img mat-card-image src="assets/Images/furniture module/storage units/stu1.jpg"> </a>

          </mat-card>
          <mat-card class="cardmob">
            <mat-card-title>Sofa</mat-card-title> <br>
            <a href="/sofa"> <img mat-card-image src="assets/Images/furniture module/sofa set/sofa.jpg" style="width: 110%; "></a>
          </mat-card>

          <mat-card class="cardmob">
            <mat-card-title>More Projects</mat-card-title> <br>
            <a href="/furniture-module"> <img src="assets/Images/logo/plus1.png"> </a>
          </mat-card>

        </div>
      </div>
    </section>
  </div>

  <br /><br />

  <div>
    <section>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm>
        <h1 class="heading"><b><u> INTERIOR  </u></b></h1>
        <h2 style="text-align: center;">
          Whatever good things we build,they end up building us.
        </h2>
        <br />

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
          <mat-card class="cardmob">
            <mat-card-title>Bar </mat-card-title> <br>
            <a href="/bar"> <img mat-card-image src="assets/Images/interior/bar/bar1.jpg"> </a>

          </mat-card>
          <mat-card class="cardmob">
            <mat-card-title>Drawing Room Desk</mat-card-title> <br>
            <a href="/desk"> <img mat-card-image src="assets/Images/interior/desk/d1.jpg" style="width: 110%; "></a>
          </mat-card>

          <mat-card class="cardmob">
            <mat-card-title>More Projects</mat-card-title> <br>
            <a href="/interior"> <img src="assets/Images/logo/plus1.png"> </a>
          </mat-card>

        </div>
      </div>
    </section>
  </div>
  <br>
</div>
