<div fxHide.lt-md>
  <div fxLayout fxLayoutAlign="center" fxLayoutGap="100px">
    <section>
      <img
        style="width: 500px; height: 600px;"
        src="\assets\Images\home\project.jpg"
      />
    </section>
    <section fxLayoutAlign="center center">
      <p
        style="
          text-align: center;
          font-size: 40px;
          font-family: 'Times New Roman', Times, serif;
          line-height: 50px;
        "
      >
        One of the greatest beauties<br />
        of architecture is that<br />
        each time it is like <br />life starting<br />
        all over again.
      </p>
    </section>
  </div>

  <br /><br />
  <div style="background-color: paleturquoise;">
    <!--Furniture module -->
    <section>
      <br />
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
        <h1 class="heading">
          <b><u>INTERIOR</u></b>
        </h1>
        <h2 style="text-align: center;">
          Whatever good things we build,they end up building us.
        </h2>
        <br />

        <div fxLayoutAlign="center center" fxLayout fxLayoutGap="50px">
          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>Bar </mat-card-title> <br />
            <a href="/bar">
              <img
                mat-card-image
                id="my-img"
                style="width: 350px; height: 300px;"
                src="assets/Images/interior/bar/bar1.jpg"
              />
            </a>
          </mat-card>
          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>Drawing Room Desk</mat-card-title> <br />
            <a href="/desk">
              <img
                mat-card-image
                id="my-img"
                style="width: 350px; height: 300px;"
                src="assets/Images/interior/desk/d1.jpg"
            /></a>
          </mat-card>

          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>More Projects</mat-card-title> <br />
            <a href="/interior">
              <img
                style="width: 320px; height: 320px;"
                src="/assets/Images/home/icon/view.png"
              />
            </a>
          </mat-card>
        </div>
      </div>
    </section>
    <br />

    <br />
  </div>

  <br /><br />

  <div style="background-color: pink;">
    <!-- Architectural -->
    <section>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
        <h1 class="heading">
          <br />
          <b><u>ARCHITECTURAL</u></b>
        </h1>
        <h2 style="text-align: center;">
          We shape our buildings thereafter they shape us.
        </h2>
        <br />

        <div fxLayoutAlign="center center" fxLayout fxLayoutGap="50px">
          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>Apartment</mat-card-title> <br />
            <a href="/apartment">
              <img
                mat-card-image
                id="my-img"
                style="width: 350px; height: 320px;"
                src="assets\Images\architectural\apartment\Ap1.jpg"
              />
            </a>
          </mat-card>
          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>Bungalow</mat-card-title> <br />
            <a href="/bungalow">
              <img
                mat-card-image
                src="assets\Images\architectural\bungalow\B1.jpg"
                id="my-img"
                style="width: 350px; height: 330px;"
              />
            </a>
          </mat-card>

          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>More Projects</mat-card-title> <br />
            <a href="/architectural">
              <img
                style="width: 320px; height: 320px;"
                src="/assets/Images/home/icon/view.png"
              />
            </a>
          </mat-card>
        </div>
      </div>
    </section>
    <br />
    <br />
  </div>

  <br /><br />

  <div style="background-color: rgb(160, 201, 202);">
    <section>
      <div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
        <h1 class="heading">
          <br />
          <b><u> FURNITURE MODULE </u></b>
        </h1>
        <h2 style="text-align: center;">
          We should attempt to bring nature, house and human beings together in
          a higher unity.
        </h2>
        <br />

        <div fxLayoutAlign="center center" fxLayout fxLayoutGap="50px">
          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>Storage Unit</mat-card-title> <br />
            <a href="/storage-unit">
              <img
                mat-card-image
                id="my-img"
                style="width: 350px; height: 350px;"
                src="assets\Images\furniture module\storage units\stu1.jpg"
              />
            </a>
          </mat-card>

          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>Sofa</mat-card-title> <br />
            <a href="/sofa">
              <img
                mat-card-image
                id="my-img"
                style="width: 350px; height: 350px;"
                src="assets\Images\furniture module\sofa set\sofa.jpg"
              />
            </a>
          </mat-card>

          <mat-card fxLayout="column" fxLayoutAlign="center center">
            <br /><br />
            <mat-card-title>More Projects</mat-card-title> <br />
            <a href="/furniture-module">
              <img
                style="width: 320px; height: 320px;"
                src="/assets/Images/home/icon/view.png"
              />
            </a>
          </mat-card>
        </div>
      </div>
    </section>
    <br /><br />
  </div>
  <br />
</div>

<div fxHide.gt-md>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <section fxLayoutAlign="center center">
      <p
        style="
          text-align: center;
          font-size: 30px;
          font-family: 'Times New Roman', Times, serif;
          line-height: 40px;
        "
      >
        One of the greatest beauties<br />
        of architecture is that<br />
        each time it is like <br />life starting<br />
        all over again.
      </p>
    </section>
    <section>
      <img
        style="width: 350px; height: 400px;"
        src="\assets\Images\home\project.jpg"
      />
    </section>
  </div>
  <br /><br />
  <br />
  <div
    style="background-color: paleturquoise;"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <br /><br />
    <section>
      <p class="mobheading">
        <b><u> FURNITURE MODULE </u></b>
      </p>
      <h2 style="text-align: center; font-size: 15px;">
        We should attempt to bring nature, house and human beings together in a
        higher unity.
      </h2>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <br />
        <mat-card-title>Storage Unit</mat-card-title>
        <a href="/storage-unit">
          <img
            style="width: 300px; height: 300px;"
            src="assets\Images\furniture module\storage units\stu1.jpg"
        /></a>
      </mat-card>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <br /><mat-card-title>Sofa</mat-card-title>
        <a href="/sofa">
          <img
            style="width: 300px; height: 300px;"
            src="assets\Images\furniture module\sofa set\sofa.jpg"
        /></a>

        <a> <img src="" /></a>
      </mat-card>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <a href="/furniture-module">
          <img
            style="width: 300px; height: 300px;"
            src="/assets/Images/home/icon/view.png"
        /></a>

        <a> <img src="" /></a>
      </mat-card>
    </section>
    <br />
  </div>

  <br /><br />
  <div
    style="background-color: pink;"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <br /><br />
    <section>
      <p class="mobheading">
        <b><u> ARCHITECTURAL</u></b>
      </p>
      <h2 style="text-align: center; font-size: 15px;">
        We shape our buildings thereafter they shape us.
      </h2>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <br /><mat-card-title>Apartment</mat-card-title>
        <a href="/apartment">
          <img
            style="width: 300px; height: 300px;"
            src="assets\Images\architectural\apartment\Ap1.jpg"
        /></a>

        <a> <img src="" /></a>
      </mat-card>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <br /><mat-card-title>Bungalow</mat-card-title>
        <a href="/bungalow">
          <img
            style="width: 300px; height: 300px;"
            src="assets\Images\architectural\bungalow\B1.jpg"
        /></a>

        <a> <img src="" /></a>
      </mat-card>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <a href="/architectural">
          <img
            style="width: 300px; height: 300px;"
            src="/assets/Images/home/icon/view.png"
        /></a>

        <a> <img src="" /></a>
      </mat-card>
    </section>
    <br />
  </div>

  <br /><br />
  <div
    style="background-color: rgb(160, 201, 202);"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <br /><br />
    <section>
      <p class="mobheading">
        <b><u> INTERIOR </u></b>
      </p>
      <h2 style="text-align: center; font-size: 15px;">
        Whatever good things we build,they end up building us.
      </h2>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <br /><mat-card-title>Bar</mat-card-title>
        <a href="/bar">
          <img
            style="width: 300px; height: 300px;"
            src="assets/Images/interior/bar/bar1.jpg"
        /></a>

        <a> <img src="" /></a>
      </mat-card>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <br /><mat-card-title>Drawing Room Desk</mat-card-title>
        <a href="/desk">
          <img
            style="width: 300px; height: 300px;"
            src="assets/Images/interior/desk/d1.jpg"
        /></a>

        <a> <img src="" /></a>
      </mat-card>
    </section>
    <section>
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mobcard">
        <a href="/interior">
          <img
            style="width: 300px; height: 300px;"
            src="assets/Images/home/icon/view.png"
        /></a>

        <a> <img src="" /></a>
      </mat-card>
    </section>
    <br />
  </div>

  <br /><br />
</div>
