// mat-card{
//   width: 23%;
//   height: 100%;
//   }
// .cardmob{
//   width: 80%;
//   height: 100%;
// }
mat-card{
  width: 400px;
  height:400px;
  }
.mobcard{
  width: 350px;
  height: 350px;

}
#my-img:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 50%;
  content: url('/assets/Images/home/icon/plus1.png');
}
.heading{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;

  text-align: center;
}
.mobheading{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

}
