<div fxHide.lt-md>
  <div class="container">
    <img class="homeimg" src="assets\Images\home\about.jpg" />
    <div class="center">
      <br />
      <p>About Us</p>
    </div>
  </div>
  <div

    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
  >
    <section
      style="
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
      "
    >
      <br />
      <br />
      Manifesting dreams
    </section>
    <!-- <section style="font-size: 20px;">
      Manifesting dreams
    </section> -->
    <section style="padding: 50px;">
      <p class="p1">
        We work as a collective studio equipped with high standards in field of
        <b>Architecture, Interior designing and furniture modules</b> under one roof.
        <i>Our core vision</i> of design and service without boundaries reflects our
        commitment to the highest standards of professional practice. <br /> <br>

       <i> <b>We are inspired by the increasing demand for the human centered design
        and the change in urban fabric.</b></i> <br /> <br>

        We are interested in exploring the design realm by serving clients need
        in ways that consistently exceed expectations, built trust and invite
        long-term partnership and collaboration.
      </p>
    </section>
    <section fxLayoutAlign="center center">
      <img
        style="width: 50%;"
        src="\assets\Images\logo\SquarePic_20200706_13215880.jpg"
      />
    </section>
    <br /><br />
  </div>

  <div
    style="background-color: antiquewhite;"
    fxLayout="column"
    fxLayoutGap="50px"
    fxLayoutAlign="center center"
  >
    <div
      style="
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
      "
    >
      <br /><br />
      Our Production Partner
    </div>
    <div style="font-size: 35px; font-family: 'Times New Roman', Times, serif;">
      <u>ORNAVO DESIGNS</u>
    </div>
    <div fxLayoutAlign="center center">
      <img
        style="width: 25%; border-radius: 5%;"
        src="\assets\Images\home\productionpartner.jpg"
      />
    </div>
    <br />
  </div>
</div>
<div fxHide.gt-md>
  <div class="mobcontainer">
    <img class="mobimg" src="assets\Images\home\about.jpg" />
    <div class="mobcenter">
      <br />
      <p>About Us</p>
    </div>
  </div>
  <div
    style="background-color: aliceblue;"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
  >
    <section
      style="
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
      "
    >
      <br />
      <br />
      WELCOME
    </section>
    <section style="font-size: 20px;">
      Manifesting dreams
    </section>
    <section>
      <p class="pmob">
        We work as a collective studio equipped with high standards in field of
        <b>Architecture, Interior designing and furniture modules</b> under one roof.
        <i>Our core vision</i> of design and service without boundaries reflects our
        commitment to the highest standards of professional practice. <br /> <br>

       <i> <b>We are inspired by the increasing demand for the human centered design
        and the change in urban fabric.</b></i> <br /> <br>

        We are interested in exploring the design realm by serving clients need
        in ways that consistently exceed expectations, built trust and invite
        long-term partnership and collaboration.
      </p>
    </section>
    <section fxLayoutAlign="center center">
      <img
        style="width: 90%;"
        src="\assets\Images\logo\SquarePic_20200706_13215880.jpg"
      />
    </section>
    <br />
  </div>

  <div
    style="background-color: antiquewhite;"
    fxLayout="column"
    fxLayoutGap="50px"
    fxLayoutAlign="center center"
  >
    <div
      style="
        text-align: center;
        font-size: 35px;
        font-weight: bolder;
        font-family: 'Times New Roman', Times, serif;
        line-height: 50px;
      "
    >
      <br /><br />
      Our Production Partner
    </div>
    <div style="font-size: 25px; font-family: 'Times New Roman', Times, serif;">
      <u>ORNAVO DESIGNS</u>
    </div>
    <div fxLayoutAlign="center center">
      <img
        style="width: 80%; border-radius: 5%;"
        src="\assets\Images\home\productionpartner.jpg"
      />
    </div>
    <br />
  </div>
</div>
