
<div  style="background-color: rgb(155, 152, 152)">
<br><br>

<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 style="font-size: xx-large;">
    <b><u>ARCHITECTURAL</u></b>
  </h1>
  <h2 style="text-align: center;">
    We shape our buildings thereafter they shape us.
  </h2>
  <br /><br><br>
  <div fxLayoutAlign="center center" fxLayoutGap="50px">
    <mat-card fxLayout="column"  fxLayoutAlign="center center">
      <mat-card-title>Apartment</mat-card-title> <br />
      <a href="/apartment">
        <img
        style="height: 310px;width: 330px;" mat-card-image src="assets/Images/architectural/apartment/Ap1.jpg" />
      </a>
    </mat-card>

    <mat-card fxLayout="column"  fxLayoutAlign="center center">
      <mat-card-title>Bungalow</mat-card-title> <br />
      <a href="/bungalow">
        <img
        style="height: 330px;width: 330px;"
          mat-card-image
          src="assets/Images/architectural/bungalow/B1.jpg"
        />
      </a>
    </mat-card>

    <mat-card fxLayout="column"  fxLayoutAlign="center center">
      <mat-card-title>Cafe</mat-card-title> <br />
      <a href="/cafe">
        <img
        style="height: 330px;width: 330px;" mat-card-image src="assets/Images/architectural/cafe/c1.jpg" />
      </a>
    </mat-card>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm>
  <h1 class="heading">
    <b><u> ARCHITECTURAL</u></b>
  </h1>
  <h2 style="text-align: center;">
    We shape our buildings thereafter they shape us.
  </h2>
  <br />

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob">
      <br><br>
      <mat-card-title>Apartment</mat-card-title> <br />
      <a href="/apartment">
        <img style="width: 300px;height: 300px;"
          mat-card-image
          src="assets/Images/architectural/apartment/Ap1.jpg"
        />
      </a>
    </mat-card>

    <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob">
      <br><br>
      <mat-card-title>Bungalow</mat-card-title> <br />
      <a href="/bungalow">
        <img style="width: 300px;height: 300px;" mat-card-image src="assets/Images/architectural/bungalow/B1.jpg" />
      </a>
    </mat-card>

    <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob">
      <br><br>
      <mat-card-title>Cafe</mat-card-title> <br />
      <a href="/cafe">
        <img style="width: 300px;height: 300px;" mat-card-image src="assets/Images/architectural/cafe/c1.jpg" />
      </a>
    </mat-card>
  </div>
</div>
<br><br>
</div>
