<br>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 style="font-size: xx-large;"><b><u>ARCHITECTURAL</u></b></h1>
  <h2 style="text-align: center;">We shape our buildings thereafter they shape us.</h2>
  <br />

  <div fxLayoutAlign="center center" fxLayoutGap="50px">

    <mat-card >
      <mat-card-title>Apartment</mat-card-title> <br>
     <a href="/apartment"> <img mat-card-image src="assets/Images/architectural/apartment/Ap1.jpg"> </a>
    </mat-card>

   <mat-card fxLayout fxLayoutAlign="center ">
      <mat-card-title>Bungalow</mat-card-title> <br>
      <a href="/bungalow"> <img mat-card-image src="assets/Images/architectural/bungalow/B1.jpg"  > </a>
    </mat-card>

    <mat-card  >
      <mat-card-title>cafe</mat-card-title> <br>
      <a href="/cafe"> <img mat-card-image src="assets/Images/architectural/cafe/cc1.jpg"> </a>
    </mat-card>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm>
  <h1 class="heading"><b><u> ARCHITECTURAL</u></b></h1>
  <h2 style="text-align: center;">We shape our buildings thereafter they shape us.</h2>
  <br />

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-card class="matmob">
      <mat-card-title>Apartment</mat-card-title> <br>
     <a href="/apartment"> <img mat-card-image src="assets/Images/architectural/apartment/Ap1.jpg"> </a>
    </mat-card>

   <mat-card class="matmob">
      <mat-card-title>Bungalow</mat-card-title> <br>
      <a href="/bungalow"> <img mat-card-image src="assets/Images/architectural/bungalow/B1.jpg"  > </a>
    </mat-card>

    <mat-card  class="matmob">
      <mat-card-title>cafe</mat-card-title> <br>
      <a href="/cafe"> <img mat-card-image src="assets/Images/architectural/cafe/cc1.jpg"> </a>
    </mat-card>
  </div>
</div>
