<mat-toolbar style="background-color: rgb(236, 236, 236);">
  <div fxHide.gt-md>
    <button mat-icon-button style="color: black;" (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>&nbsp;&nbsp;
  <div><a style="font-size: 24px;" routerLink="/">Dot. Three Design Studio</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-md>
    <ul fxLayout class="navigation-items" fxLayoutGap="20px" >
      <li ><a routerLink="/home">Home </a></li>
      <li>| </li>
      <li ><a routerLink="/aboutus"> About</a></li>
      <li>|</li>
      <li ><a routerLink="/our-projects"> Our Projects</a></li>
      <li>|</li>
      <li ><a routerLink="/contactus"> Contact Us</a></li>
    </ul>
  </div>
</mat-toolbar>
