.headbig{
  font-family: cursive;
  font-size:30px;
  font-weight: bold;
  //color:royalblue;
  color:black;
}

.heading{
  font-family: cursive;
  font-size:50px;
  font-weight: bold;
  padding-top: 50px;
 // color:royalblue;
  color:black;
}
.mobheading{
   font-family: cursive;
  font-size:40px;
  font-weight: bold;
  padding-top: 50px;
  //color:royalblue;
  color:black;
  padding-bottom: 20px;

}
