<div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
  <h1 class="heading"><b> <u>INTERIOR </u></b></h1>
  <h2 style="text-align: center;">
    Whatever good things we build,they end up building us.</h2>
  <br />

  <div style="width: 80%; height: 70%; padding-top: 50px;">
    <ng-image-slider
      [images]="imageObject"
      [infinite]="true"
      [autoSlide]="1"
      [imageSize]="{ width: '33%', height: '50%' }"
      [imagePopup]="false"
      slideImage="1"
      #nav
      (click)="submit(nav)"
    ></ng-image-slider>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm>
  <h1 class="heading"><b> <u>INTERIOR </u></b></h1>
 <h2 style="text-align: center;">Whatever good things we build,they end up building us.</h2>
  <br />

  <div style="width: 100%; height: 100%;">
    <ng-image-slider
      [images]="imageObject"
      [infinite]="true"
      [autoSlide]="1"
      [imageSize]="{ width: '100%', height: '30%' }"
      [imagePopup]="false"
      slideImage="1"
      #nav
      (click)="submit(nav)"
    ></ng-image-slider>
  </div>
</div>
