<div style="background-color: rgb(155, 152, 152);">
  <br /><br />
  <div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
    <h1 class="heading">
      <b> <u>INTERIOR </u></b>
    </h1>
    <h2 style="text-align: center;">
      Whatever good things we build,they end up building us.
    </h2>
    <br />

    <div fxLayoutAlign="center center" fxLayoutGap="50px">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Bar </mat-card-title> <br />
        <a href="/bar">
          <img
            mat-card-image
            style="width: 350px; height: 260px;"
            src="assets/Images/interior/bar/bar1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Bedroom</mat-card-title> <br />
        <a href="/bedroom">
          <img
            mat-card-image
            style="width: 350px; height: 250px;"
            src="assets/Images/interior/bedroom/bedroom1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Drawing Room Desk</mat-card-title> <br />
        <a href="/desk">
          <img
            mat-card-image
            style="width: 350px; height: 260px;"
            src="assets/Images/interior/desk/d1.jpg"
          />
        </a>
      </mat-card>
    </div>

    <br /><br />

    <div fxLayoutAlign="center center" fxLayoutGap="50px">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Office Desk</mat-card-title> <br />
        <a href="/desk2">
          <img
            mat-card-image
            style="width: 320px; height: 270px;"
            src="assets/Images/interior/desk 2/desk1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Kitchen</mat-card-title> <br />
        <a href="/kitchen">
          <img
            mat-card-image
            style="width: 350px; height: 270px;"
            src="assets/Images/interior/kitchen/k1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Showroom</mat-card-title> <br />
        <a href="/showroom">
          <img
            mat-card-image
            style="width: 360px; height: 280px;"
            src="assets/Images/interior/showroom/sh1.jpg"
          />
        </a>
      </mat-card>
    </div>
    <br />
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm>
    <br />
    <h1 class="heading">
      <b> <u>INTERIOR </u></b>
    </h1>
    <h2 style="text-align: center;">
      Whatever good things we build,they end up building us.
    </h2>
    <br />

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
      <mat-card class="matmob" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Bar </mat-card-title> <br />
        <a href="/bar">
          <img
            mat-card-image
            style="width: 300px; height: 230px;"
            src="assets/Images/interior/bar/bar1.jpg"
          />
        </a>
      </mat-card>

      <mat-card class="matmob" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Bedroom</mat-card-title> <br />
        <a href="/bedroom">
          <img
            mat-card-image
            style="width: 310px; height: 230px;"
            src="assets/Images/interior/bedroom/bedroom1.jpg"
          />
        </a>
      </mat-card>

      <mat-card class="matmob" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Drawing Room Desk</mat-card-title> <br />
        <a href="/desk">
          <img
            mat-card-image
            style="width: 300px; height: 230px;"
            src="assets/Images/interior/desk/d1.jpg"
          />
        </a>
      </mat-card>

      <mat-card class="matmob" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Office Desk</mat-card-title> <br />
        <a href="/desk2">
          <img
            mat-card-image
            style="width: 300px; height: 250px;"
            src="assets/Images/interior/desk 2/desk1.jpg"
          />
        </a>
      </mat-card>

      <mat-card class="matmob" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Kitchen</mat-card-title> <br />
        <a href="/kitchen">
          <img
            mat-card-image
            style="width: 330px; height: 280px;"
            src="assets/Images/interior/kitchen/k1.jpg"
          />
        </a>
      </mat-card>

      <mat-card class="matmob" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Showroom</mat-card-title> <br />
        <a href="/showroom">
          <img
            mat-card-image
            style="width: 330px; height: 280px;"
            src="assets/Images/interior/showroom/sh1.jpg"
          />
        </a>
      </mat-card>
    </div>
    <br />
  </div>
  <br /><br />
</div>
