<div fxHide.lt-md>
  <div
  style="height: 50px;font-size: 70px;padding-top: 50px;padding-bottom: 50px;line-height: 70px;"
  class="subheading"
  fxLayoutAlign="center center">
  About The Developer
</div>
<div fxLayoutAlign="center">
    <img  style="width: 70%;"
    src="\assets\Images\developer\background1.jpg">
</div>
<div
  style="color: white;height: 170px;
  background-color:black;font-size: 50px;line-height: 50px;text-align: center;line-height: 50px;"
  class="subheading"
  fxLayoutAlign="center center">
  Make a better Website,<br> Give a Pleasing Experience
</div><br>
<div fxLayoutAlign="center">
<div style="font-size: 25px; padding: 20px;
text-align: center;line-height: 25px;"
fxLayoutAlign="center">
  With Innovation , Hardwork and Technologies we build <br>an unmatched Digital
  Web Interactions for startups as well as established businesses.<br><br> We craft a
  unique digital experience to add value to the client's purpose <br>and help them
  create a category leading brand experience.
</div></div><br>
<div style="color: white; background-color: black;text-align: center;">
  <h2 class="subheading" fxLayoutAlign="center center">
    We don't just build websites, we build experience.
  </h2>
</div>
<h3 style="font-size: 40px;" fxLayoutAlign="center">
  Have an Idea? Ready to start your next project?
</h3><br>
<h4 style="font-size: 30px;" fxLayoutAlign="center">
  We would be enthusiastic to work with you.
</h4>
<br><br><br>
<div id="grad" style="font-size: 50px;text-align: center;">
  <u>Our Team</u>

<div style="padding: 40px;" fxLayoutAlign="center" fxLayoutGap="50px">
  <section>
    <mat-card>
      <mat-card-title> Ayush Mishra</mat-card-title>
      <mat-card-subtitle> Developer</mat-card-subtitle>
      <mat-card-content>
        <img
          mat-card-image
          src="assets/Images/developer/ayush.jpg"
          style="height: 380px;"
        />
        <hr />
        <div fxLayout fxLayoutAlign="center">Connect with us on</div>
        <hr />
        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
          <a href="https://www.linkedin.com/in/ayush-mishra-1803/">
            <img class="imgs" src="\assets\Images\developer\linkedin.png"
          /></a>
          <a href="mailto:ayushmishra0810@gmail.com">
            <img class="imgs" src="\assets\Images\developer\gmail.png"
          /></a>

          <a href="https://www.instagram.com/__ayush_mishra__/">
            <img class="imgs" src="\assets\Images\developer\insta.png"
          /></a>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <mat-card>
      <mat-card-title> Khushboo Thakur</mat-card-title>
      <mat-card-subtitle> Developer</mat-card-subtitle>
      <mat-card-content>
        <img
          mat-card-image
          src="assets/Images/developer/khushboo.jpg"
          style="height: 380px;"
        />
        <hr />
        <div fxLayout fxLayoutAlign="center">Connect with us on</div>
        <hr />
        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
          <a href="https://www.linkedin.com/in/khushboo-thakur-1139761a3/">
            <img class="imgs" src="\assets\Images\developer\linkedin.png"
          /></a>
          <a href="mailto:khushboothakur235@gmail.com">
            <img class="imgs" src="\assets\Images\developer\gmail.png"
          /></a>

          <a href="https://www.instagram.com/khushboo_523/">
            <img class="imgs" src="\assets\Images\developer\insta.png"
          /></a>
        </div>
      </mat-card-content>
    </mat-card>
  </section>

  <section>
    <mat-card>
      <mat-card-title> Chakshu Kishnani</mat-card-title>
      <mat-card-subtitle> Developer</mat-card-subtitle>
      <mat-card-content>
        <img
          mat-card-image
          src="assets/Images/developer/chakshu.jpg"
          style="height: 380px;"
        />
        <hr />
        <div fxLayout fxLayoutAlign="center">Connect with us on</div>
        <hr />
        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
          <a href="https://www.linkedin.com/in/chakshu-kishnani-636197178/">
            <img class="imgs" src="\assets\Images\developer\linkedin.png"
          /></a>
          <a href="mailto:kishnani.chakshu@gmail.com">
            <img class="imgs" src="\assets\Images\developer\gmail.png"
          /></a>

          <a href="https://www.instagram.com/chakshu._.kishnani/">
            <img class="imgs" src="\assets\Images\developer\insta.png"
          /></a>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
</div>
</div>

<div fxHide.gt-md>
  <div
  style="height: 50px;font-size:40px;padding-top: 50px;padding-bottom: 50px;line-height: 40px;"
  class="subheading"
  fxLayoutAlign="center center">
  About The Developer
</div>
<div >
    <img  style="width: 100%;height: 300px;"
    src="\assets\Images\developer\background1.jpg">
</div>
<div
  style="color: white;height:90px;
  background-color:black;font-size:30px;line-height: 20px;text-align: center;line-height: 30px;"
  class="subheading"
  fxLayoutAlign="center center">
  Make a better Website,<br> Give a Pleasing Experience
</div><br>
<div style="width: 500 px;" fxLayoutAlign="center">
<div id=grad style="font-size: 25px; padding: 20px;
text-align: center;line-height: 25px;"
fxLayoutAlign="center">
  With Innovation , Hardwork and Technologies we build <br>an unmatched Digital
  Web Interactions for startups as well as established businesses.<br><br> We craft a
  unique digital experience to add value to the client's purpose <br>and help them
  create a category leading brand experience.
</div></div><br>
<div style="color: white; background-color: black;text-align: center;">
  <h2 class="subheading" >
    We don't just build websites, we build experience.
  </h2>
</div>
<h3 style="font-size: 25px;text-align: center;" >
  Have an Idea? <br>Ready to start your next project?
</h3><br>
<h4 style="font-size: 20px;text-align: center;" >
  We would be enthusiastic to work with you.
</h4>
<br><br><br>
<div style="font-size: 30px;text-align: center;">
  <u>Our Team</u>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
<section>
  <mat-card>
    <mat-card-title> Ayush Mishra</mat-card-title>
    <mat-card-subtitle> Developer</mat-card-subtitle>
    <mat-card-content>
      <img
        mat-card-image
        src="assets/Images/developer/ayush.jpg"
        style="height: 380px;"
      />
      <hr />
      <div fxLayout fxLayoutAlign="center">Connect with us on</div>
      <hr />
      <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
        <a href="https://www.linkedin.com/in/ayush-mishra-1803/">
          <img class="imgs" src="\assets\Images\developer\linkedin.png"
        /></a>
        <a href="mailto:ayushmishra0810@gmail.com">
          <img class="imgs" src="\assets\Images\developer\gmail.png"
        /></a>

        <a href="https://www.instagram.com/__ayush_mishra__/">
          <img class="imgs" src="\assets\Images\developer\insta.png"
        /></a>
      </div>
    </mat-card-content>
  </mat-card>
</section>
    <section>
      <mat-card>
        <mat-card-title> Khushboo Thakur</mat-card-title>
        <mat-card-subtitle> Developer</mat-card-subtitle>
        <mat-card-content>
          <img mat-card-image src="assets/Images/developer/khushboo.jpg" />
          <hr />
          <div fxLayout fxLayoutAlign="center">Connect with us on</div>
          <hr />
          <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
            <a href="https://www.linkedin.com/in/khushboo-thakur-1139761a3/">
              <img class="imgs" src="\assets\Images\developer\linkedin.png"
            /></a>
            <a href="mailto:khushboothakur235@gmail.com">
              <img class="imgs" src="\assets\Images\developer\gmail.png"
            /></a>

            <a href="https://www.instagram.com/khushboo_523/">
              <img class="imgs" src="\assets\Images\developer\insta.png"
            /></a>
          </div>
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <mat-card>
        <mat-card-title> Chakshu Kishnani</mat-card-title>
        <mat-card-subtitle> Developer</mat-card-subtitle>
        <mat-card-content>
          <img
            mat-card-image
            src="assets/Images/developer/chakshu.jpg"
          />
          <hr />
          <div fxLayout fxLayoutAlign="center">Connect with us on</div>
          <hr />
          <div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">
            <a href="https://www.linkedin.com/in/chakshu-kishnani-636197178/">
              <img class="imgs" src="\assets\Images\developer\linkedin.png"
            /></a>
            <a href="mailto:kishnani.chakshu@gmail.com">
              <img class="imgs" src="\assets\Images\developer\gmail.png"
            /></a>

            <a href="https://www.instagram.com/chakshu._.kishnani/">
              <img class="imgs" src="\assets\Images\developer\insta.png"
            /></a>
          </div>
        </mat-card-content>
      </mat-card>
    </section>
    </div>
  </div>
