<div style="background-color: rgb(155, 152, 152)">
  <br /><br />
  <div fxLayout="column" fxLayoutAlign="center center" fxHide.lt-md>
    <h1 class="heading">
      <b><u> FURNITURE MODULE </u></b>
    </h1>
    <h2 style="text-align: center">
      We should attempt to bring nature, house and human beings together in a
      higher unity.
    </h2>
    <br />

    <div fxLayoutAlign="center center" fxLayoutGap="50px">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Storage Unit</mat-card-title> <br />
        <a href="/storage-unit">
          <img
            mat-card-image
            style="width: 330px; height: 330px"
            src="assets/Images/furniture module/storage units/stu1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Sofa</mat-card-title> <br />
        <a href="/sofa">
          <img
            mat-card-image
            style="width: 330px; height: 330px"
            src="assets/Images/furniture module/sofa set/sofa.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Dining Set</mat-card-title> <br />
        <a href="/dining-set">
          <img
            mat-card-image
            style="width: 330px; height: 330px"
            src="assets/Images/furniture module/dining set/ds1.jpg"
          />
        </a>
      </mat-card>
    </div>
    <br /><br />
    <div fxLayoutAlign="center center" fxLayoutGap="50px">
      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Wall Hung Sofa</mat-card-title> <br />
        <a href="/wall-hung-sofa">
          <img
            mat-card-image
            style="width: 330px; height: 330px"
            src="assets/Images/furniture module/wall hung sofa/ws2.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Tv Unit</mat-card-title> <br />
        <a href="/tv-unit">
          <img
            mat-card-image
            style="width: 330px; height: 330px"
            src="assets/Images/furniture module/tv unit/tu1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Single Unit</mat-card-title> <br />
        <a href="/single-unit">
          <img
            mat-card-image
            style="width: 330px; height: 330px"
            src="assets/Images/furniture module/single unit/su1.jpg"
          />
        </a>
      </mat-card>
    </div>
    <br />
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm>
    <h1 class="heading">
      <b><u> FURNITURE MODULE </u></b>
    </h1>
    <h2 style="text-align: center">
      We should attempt to bring nature, house and human beings together in a
      higher unity.
    </h2>
    <br />

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
      <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob"
        ><br />
        <mat-card-title>Storage Unit</mat-card-title> <br />
        <a href="/storage-unit">
          <img
            mat-card-image
            style="width: 300px; height: 300px"
            src="assets/Images/furniture module/storage units/stu1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob"
        ><br />
        <mat-card-title>Sofa</mat-card-title> <br />
        <a href="/sofa">
          <img
            mat-card-image
            style="width: 300px; height: 300px"
            src="assets/Images/furniture module/sofa set/sofa.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob"
        ><br />
        <mat-card-title>Dining Set</mat-card-title> <br />
        <a href="/dining-set">
          <img
            mat-card-image
            style="width: 300px; height: 280px"
            src="assets/Images/furniture module/dining set/ds1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob"
        ><br />
        <mat-card-title>Wall Hung Sofa</mat-card-title> <br />
        <a href="/wall-hung-sofa">
          <img
            mat-card-image
            style="width: 300px; height: 280px"
            src="assets/Images/furniture module/wall hung sofa/ws2.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob"
        ><br />
        <mat-card-title>Tv Unit</mat-card-title> <br />
        <a href="/tv-unit">
          <img
            mat-card-image
            style="width: 300px; height: 300px"
            src="assets/Images/furniture module/tv unit/tu1.jpg"
          />
        </a>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="center center" class="matmob"
        ><br />
        <mat-card-title>Single Unit</mat-card-title> <br />
        <a href="/single-unit">
          <img
            mat-card-image
            style="width: 300px; height: 300px"
            src="assets/Images/furniture module/single unit/su1.jpg"
          />
        </a>
      </mat-card>
    </div>
  </div>
  <br /><br />
</div>
